body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border: 1px solid #ccc;
  
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.11);
  padding: 20px;
  margin: 10px;
  max-width: 250px;
  text-align: center;
  display: inline-block;
}

.card .profile-pic {
  max-width: 100%; 
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text {
  color: hsl(0, 0%, 40%);
}


.student {
  font-size: large;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.11);
  padding: 20px;
  margin: 10px;
  width: 250px;
  text-align: center;
  display: inline-block;
}

.welcome {
  color: hsl(0, 0%, 20%) ;
  background-color: hsl(130, 100%, 66%);
  font-size: 2.5rem;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
} 

.login {
  background-color:hsl(0, 81%, 65%) ;
  color: hsl(0, 0%, 20%);
  font-size: 2.5rem;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.category {
  color: hsl(0, 0%, 20%);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid hsl(0, 0%, 20%);
  background-color: azure;
}

.list {
  font-size: large;
  list-style: none;
  padding: 20px;
  text-align: center;
}

.list li:hover {
  background-color: hsl(0, 0%, 80%);
  cursor: pointer;
}

.counter-container {
  text-align: center;
}

.counter-display {
  color: hsl(0, 0%, 20%);
  font-size: 2.5rem;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.counter-button {
  background-color:hsl(0, 81%, 65%) ;
  color: hsl(0, 0%, 20%);
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: hsl(130, 100%, 66%);
}

.color-picker-container {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-picker-container h1 {
  margin: 50px;
  font-size: 3rem;
}

.color-display {
  width: 200px;
  height: 200px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 50%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease;
}

.color-display p {
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
}

.color-label {
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
}

input[type="color"] {
  width: 75px;
  height: 50px; 
  padding: 5px;
  border: 3px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  cursor: pointer;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.todo-list-container h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.todo-list-container button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 20%);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-task-button {
  background-color: hsl(130, 100%, 66%);
}

.add-task-button:hover {
  background-color: hsl(130, 100%, 40%);
}

.delete-task-button {
  background-color: hsl(0, 81%, 65%);
}

.delete-task-button:hover {
  background-color: hsl(0, 81%, 40%);
}

.move-button {
  background-color: hsl(207, 81%, 65%);
}

.move-button:hover {
  background-color: hsl(207, 81%, 40%);
}

input[placeholder="Add a new task"] {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  font-size: 1.5rem;
  width: 300px;
  margin-right: 5px;
}

.task-list-container ol {
  list-style-type: none;
  padding: 0;
}

.task-list-container ol li {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 80%);
  border: 3px solid hsl(0, 0%, 85%);
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 500px;
}

.task-text {
  flex: 1;
}

.delete-task-button, .move-button {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 1rem;
}